@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--texto);
}

:root {
  --fundo: #0d1117;
  --secundaria: #161b22;
  --texto: #c9d1d9;
  --destaque: #58a6ff;
}

body {
  background-color: var(--fundo);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#container {
  flex: 1;
}

/* Estilização da parte principal do site */

#principal {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: start;
  margin: 30px 0px 30px 30px;
}

.titulo-principal {
  font-size: 48px;
  font-weight: 900;
  color: var(--destaque);
}

.cargo-titulo {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  color: var(--destaque);
}

.texto {
  font-size: 20px;
}

.destaque {
  color: var(--destaque);
  font-weight: 900;
}

.botao-principal {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px 30px;
  font-size: 24px;
  font-weight: 900;
  border-radius: 50px;
}

.botao-principal:hover {
  background-color: var(--texto);
  color: var(--destaque);
}

#projetos {
  margin: 30px 0px 30px 30px;
}

#projetos > .titulo-principal {
  margin-bottom: 20px;
}

.lista-projetos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
  margin-bottom: 50px;
}

.projeto {
  width: 315px;
  height: auto;
  background-color: var(--secundaria);
  border-radius: 15px;
}

.projeto > img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.detalhes-projeto {
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding-bottom: 20px;
}

.tecnologias-projeto {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.tecnologia {
  padding: 2px 20px;
  border-radius: 10px;
}

.titulo-projeto {
  font-weight: 900;
  font-size: 16px;
}

.botao-projeto {
  padding: 0px 20px;
  font-size: 24px;
  font-weight: 900;
  border: 1px solid var(--texto);
  border-radius: 50px;
}

#contato {
  display: flex;
  flex-direction: column;
  margin: 30px 0px 30px 30px;
}

#contato > .titulo-principal {
  margin-bottom: 20px;
}

.redes-sociais {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.redes-sociais > a > ion-icon {
  color: var(--destaque);
  font-size: 50px;
}

footer {
  background-color: var(--destaque);
  text-align: center;
  padding: 10px 0px;
}

footer > h4 {
  color: var(--fundo);
}

.botao_voltar,
.botao_ver_todos {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
  text-decoration: underline;
}

@media (max-width: 768px) {
  #principal {
    margin: 15px 0px 15px 15px;
  }

  .titulo-principal {
    font-size: 32px;
  }

  .cargo-titulo {
    font-size: 18px;
  }
  .texto {
    font-size: 14px;
  }

  .botao-principal {
    font-size: 18px;
    padding: 8px 20px;
  }

  #projetos {
    margin: 30px 0px 15px 15px;
  }

  .lista-projetos {
    flex-direction: column;
    align-items: start;
  }

  .projeto {
    width: 100%;
    max-width: 350px;
    height: auto;
  }

  .projeto > img {
    width: 100%;
    height: auto;
    max-height: 150px;
    border-radius: 15px 15px 0 0;
  }

  #contato {
    margin: 15px 0px 15px 15px;
  }

  .redes-sociais > a > ion-icon {
    font-size: 40px;
  }

  .titulo-projeto,
  .descricao-projeto,
  .tecnologia {
    font-size: 14px;
  }

  .botao-projeto {
    font-size: 18px;
  }

  footer > h4 {
    font-size: 14px;
  }

  .botao_voltar {
    font-size: 18px;
  }
}
