@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: var(--texto);
}

:root {
    /* Cores: */

    --fundo: #121212;
    --secundaria: rgba(255, 255, 255, 0.38);
    --texto: #ffffff;
    --destaque: #eba93f;

    /* Tamanhos de fonte: */

    /* Desktop */

    --psize: 20px;
    --h1size: 48px;
    --socialiconsize: 50px;
}

body {
    background-color: var(--fundo);
    min-height: 100vh;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

#container {
    flex: 1;
}

/* Estilização da parte principal do site */

#principal {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    max-width: 650px;
}

.titulo-principal {
    font-size: var(--h1size);
    font-weight: 900;
    color: var(--texto);
}

.cargo-titulo {
    font-size: var(--psize);
    font-weight: 700;
    color: var(--destaque);
}

.texto {
    font-size: var(--psize);
}

.destaque {
    color: var(--destaque);
    font-weight: 900;
}

#projetos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lista-projetos {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.projeto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--secundaria);
    max-width: 650px;
}

.titulo-projeto {
    color: var(--destaque);
    font-size: var(--psize);
}

.descricao-projeto {
    font-size: var(--psize);
}

.tecnologia {
    color: var(--destaque);
    font-size: var(--psize);
}

.redes-sociais {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.redes-sociais > a > ion-icon {
    color: var(--destaque);
    font-size: var(--socialiconsize);
}

.redes-sociais > a > ion-icon:hover {
    color: var(--texto);
}

footer {
    background-color: var(--destaque);
    text-align: center;
    padding: 10px 0px;
}

footer > h4 {
    color: var(--fundo);
    font-size: var(--psize);
}

.botao_voltar,
.botao_ver_todos {
    display: block;
    font-size: var(--psize);
    text-decoration: underline;
}

.botao_voltar:hover,
.botao_ver_todos:hover {
    color: var(--destaque);
}

@media (max-width: 768px) {
    main {
        padding: 25px;
        gap: 25px;
    }

    :root {
        /* Tamanhos de fonte: */

        /* Mobile */

        --psize: 16px;
        --h1size: 32px;
        --socialiconsize: 40px;
    }
}
