{% load static%}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Igor de Paula{% endblock title %}</title>
    <link
      rel="icon"
      href="{% static 'img/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block extra_css %} {% endblock extra_css %}
  </head>
  <body>
    <main>{% block content %}{% endblock %}</main>

    {% include "includes/footer.html" %}
  </body>
</html>
